all:
  hosts:
    domotique:
      ansible_host: 'domotique.local'
      ansible_username: 'oxodao'

      # This will gives the domain.tld domain for your machine
      domain: 'domotique'
      tld: 'local'

      # Restic settings
      restic_path: 's3.<REGION>.backblazeb2.com/<BUCKET>'
      restic_access_id: '<Access ID>'
      restic_secret_id: '<Secret ID>'
      restic_repository_password: '<Repository password>'

      # SimpleNotifier Webhook URL
      simple_notifier_hook: 'https://discord.com/api/webhooks/xxxx/xxxx'

      # SSL Certificate used by nginx
      nginx_public_key: |2
        -----BEGIN CERTIFICATE-----
        PUBLIC SSL KEY FOR NGINX
        -----END CERTIFICATE-----

      nginx_private_key: |2
        -----BEGIN PRIVATE KEY-----
        PRIVATE SSL KEY FOR NGINX
        -----END PRIVATE KEY-----

      # Wireguard config
      wireguard:
          public_ip: 'Public IP of the machine'
          port: 'Wireguard port'
          private_key: ''
          public_key: ''

          # List of the IPs that the client will have access
          allowed_ips: '192.168.XX.0/24'

          # The network address for the WG clients
          ip_prefix: '192.168.XX.'

          post_up:
            - 'iptables -A FORWARD -i %i -j ACCEPT'
            - 'iptables -A FORWARD -o %i -j ACCEPT'

          post_down:
            - 'iptables -D FORWARD -i %i -j ACCEPT'
            - 'iptables -D FORWARD -o %i -j ACCEPT'

          # Machines will have an IP assigned using the prefix
          # specified above
          machines:
            - hostname: 'user'
              public_key: ''
              private_key: ''
              ip: '10'