all:
  hosts:
    domotique:
      ansible_host: 'domotique.local'
      ansible_username: 'oxodao'

      # Surcharge des valeurs par défaut
      lan_ip_prefix: '192.168.23.'

      # Cela donnera domain.tld pour les noms de domaines
      domain: 'domotique'
      tld: 'lan'

      # Restic settings
      restic_path: 's3.<REGION>.backblazeb2.com/<BUCKET>'
      restic_access_id: '<Access ID>'
      restic_secret_id: '<Secret ID>'
      restic_repository_password: '<Restic password>'

      # SimpleNotifier Webhook URL
      simple_notifier_hook: 'https://discord.com/api/webhooks/xxxxx/xxxxx'

      # Certificat SSL utilisé par nginx
      nginx_public_key: |2
        -----BEGIN CERTIFICATE-----
        ...
        -----END CERTIFICATE-----

      nginx_private_key: |2
        -----BEGIN PRIVATE KEY-----
        ...
        -----END PRIVATE KEY-----

      # Uniquement utilisé pour Wireguard
      forwarded_dns_servers:
        - 8.8.8.8
        - 1.1.1.1

      # Configuration du wireguard
      wireguard:
          public_ip: '<Homelab public IP>'
          port: '<Homelab WG port>'
          private_key: ''
          public_key: ''

          # List of the IPs that the client will have access
          allowed_ips: '192.168.80.0/24, 192.168.23.0/24'

          # The network address for the WG clients
          ip_prefix: '192.168.80.'

          post_up:
            - 'iptables -A FORWARD -i %i -j ACCEPT'
            - 'iptables -A FORWARD -o %i -j ACCEPT'

          post_down:
            - 'iptables -D FORWARD -i %i -j ACCEPT'
            - 'iptables -D FORWARD -o %i -j ACCEPT'

          # Les machines auront pour IP assignée
          # le prefix d'ip fournis plus haut
          # puis une ip machine égale à celle sur
          # le réseau local.
          machines:
            - hostname: 'user'
              public_key: ''
              private_key: ''
              ip: '10'