server {
    listen      80;
    server_name {{hostname}};
    return 307 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{hostname}};

    include snippets/ssl.conf;

    location / {
        proxy_pass http://localhost:8123;
        include snippets/reverse_proxy.conf;
    }
}